/* You can add global styles to this file, and also import other style files */
:root
{
  --main-color:#1abc9c ;
  --secound-color:#2c3e50 !important;
}

.bg-main
{
  background-color: var(--main-color) !important;
}
.bg-secound
{
  background-color: var(--secound-color) !important;

}
